<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <title th:text="${appName}">Spring Bootrap Template Offline</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Custom styles -->
    <link th:href="@{/css/my-style.css}" rel="stylesheet"/>
</head>
<body>
<main role="main" class="container">
    <h1 class="mt-5">html-head</h1>
</main>

</body>
</html>
