<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <title>Offline view</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles -->
    <link href="../../static/css/my-style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#" th:text="${appName}">Spring Bootrap Template Offline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main th:fragment="main" role="main" class="container">
    <h1 class="mt-5">Layout Page</h1>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with
        <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p>Back to
        <a href="../sticky-footer">the default sticky footer</a>
        minus the navbar.
    </p>
</main>


<footer th:fragment="footer" th:align="left" class="footer" id="footer">
    <div class="container">
        <span class="text-muted" th:text="'&copy; 2019 ' + ${appName}">&copy; 20XX Spring Bootrap Template</span>
    </div>
</footer>

</body>
</html>
