<!DOCTYPE HTML>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: html-head">
    <title>Offline view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<div th:replace="fragments/layout :: navbar">(navbar)</div>-->
<main role="main" class="container">
    <h1 class="mt-4" th:text="${appName}"></h1>
    <div class="container">
        <div class="card card-login mx-auto mt-4">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                            <label for="inputEmail">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-block" href="index.html">Login</a>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

</main>


<footer th:replace="fragments/layout :: footer">(footer)</footer>
<div th:replace="fragments/scripts :: bottom-scripts"></div>
</body>
</html>
